@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1>@ViewData["Title"]</h1>

<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>Admin</b>LTE</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input-group mb-3">
                    <input asp-for="Input.Email" placeholder="Email" class="form-control" autocomplete="username" aria-required="true" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
            </form>

            <p class="mt-3 mb-1">
                <a href="/">Login</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
